# 가상환경
venv/

# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# FastAPI / Uvicorn logs
*.log

# 환경 설정
# .env
.env.*

# 모델 및 데이터
*.onnx
*.pt
*.pth
*.h5
models/
checkpoints/
data/
datasets/

# IDE / Editor 설정
.vscode/
.idea/
*.swp

# Jupyter
.ipynb_checkpoints/

# OS / 기타
.DS_Store
Thumbs.db

# Pydantic Cache
*.mypy_cache/
*.pytest_cache/